@page "/"

@rendermode InteractiveServer

@inject NavigationManager navigationManager

<div class="wrapper">
    <div class="logo">
        <img src="image/DentalCareLogo.png" alt="">
    </div>
    <EditForm Model="loginModel" FormName="formLogin" OnValidSubmit="Submit" class="p-3 mt-3">
        <DataAnnotationsValidator />
        <ValidationMessage For="() => loginModel.Username" />
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <InputText @bind-Value="loginModel.Username" Type="text" Placeholder="Username" />
        </div>

        <ValidationMessage For="() => loginModel.Password" />
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <InputText @bind-Value="loginModel.Password" Type="Password" Placeholder="Password" />
        </div>

        <button type="submit" class="btn mt-3">Login</button>
    </EditForm>
</div>


@code {
    [SupplyParameterFromForm]
    private LoginAccountForm loginModel { get; set; } = new();

    private void Submit()
    {
        if (!string.IsNullOrEmpty(loginModel.Username) && !string.IsNullOrEmpty(loginModel.Password))
            navigationManager.NavigateTo("/home");
    }
}
