@page "/"
@rendermode InteractiveServer

<div class="wrapper">
    <div class="logo">
        <img src="image/DentalCareLogo.png" alt="">
    </div>
    <EditForm Model="loginModel" FormName="formLogin" OnValidSubmit="Submit" class="p-3 mt-3">
        <DataAnnotationsValidator />
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <InputText @bind-Value="loginModel.Username" Type="text" Placeholder="Username" />
        </div>
        <ValidationMessage For="() => loginModel.Username" />
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <InputText @bind-Value="loginModel.Password" Type="Password" Placeholder="Password" />
        </div>
    

        <ValidationMessage For="() => loginModel.Password" />

        <button type="submit" class="btn mt-3">Login</button>
    </EditForm>
</div>


@code {
    [SupplyParameterFromForm]
    private LoginAccountForm loginModel { get; set; } = new();

    private void Submit()
    {
        if (loginModel != null)
        {
            Console.WriteLine($"Username: {loginModel.Username}");
            Console.WriteLine($"Password: {loginModel.Password}");
        }
    }
}
